@import "tailwindcss";

/* Font Custom Chepasman */
@font-face {
    font-family: "Cheapsman";
    src: url('/fonts/Cheapsman Free Regular.ttf') format(truetype);
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
}

.home-container {
    padding-top: 200px;
}

@utility font-poppins {
    font-family: 'Poppins', sans-serif;
}

@utility font-cheapsman {
    font-family: "Cheapsman", sans-serif;
}