@import "tailwindcss";

/* Font Custom Chepasman */
@font-face {
    font-family: "Cheapsman";
    src: url('/fonts/Cheapsman Free Regular.ttf') format(truetype);
}

html, body {
    scroll-behavior: smooth;
    width: 100%;
}

.home-container {
    padding-top: 200px;
}

.blue1-font-custom {
    color : #091F5A;
}

.blue2-font-custom {
    color : #354EAE;
}

.blue3-font-custom {
    color: #316FD9;
}

.blue4-font-custom {
    color: #7096D2;
}

.blue5-font-custom {
    color: #CFE4FF;
}

.blueWhite-font-custom {
    color: #E9F2FF;
}


@utility font-poppins {
    font-family: 'Poppins', sans-serif;
}

@utility font-cheapsman {
    font-family: "Cheapsman", sans-serif;
}